/* Custom styles added to demo */

.twitter-tweet {
    margin: auto;
}

iframe {
    border-radius: var(--radius) !important;
}

.home-info ul {
    padding-inline-start: 20px;
}

.entry-cover img {
    border: 1px solid var(--border);
}

/* custom btn style */
.post-content a.btn {
    color: var(--primary) !important;
    background-color: rgba(0, 0, 0, 0.05);
    -webkit-backdrop-filter: blur(1.5rem);
    backdrop-filter: blur(1.5rem);
    padding: 0.5em 1em 0.5em 1em;
    margin-top: var(--content-gap);
    margin-bottom: var(--content-gap);
    margin-right: .8333333333em;
    display: inline-block;
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    line-height: 1;
    /* font-size: 1em; */
    letter-spacing: 0.05em;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none !important;
    box-shadow: none;
}

.post-content a.btn:hover:not(:disabled) {
    color: rgba(0, 0, 0, 1) !important;
    background-color: rgba(0, 0, 0, 0.1);
    opacity: 1 !important;
}

.post-content a.btn.external {
    padding-right: 1em;
}

.post-content a.btn.external:after {
    position: relative;
    right: -0.2em;
    content: "↗";
    font-size: 1.166667em;
    font-weight: normal;
    margin-left: -0.0625em;
}

/* custom lang-switch style start */
.lang-switch {
    margin-inline-start: var(--gap);
}

.lang-switch li,
.lang-switch ul,
.logo-switches {
    display: inline-flex;
    margin: auto 0;
}

.lang-switch a {
    margin: auto 0;
    font-size: 16px;
    font-weight: unset;
}
/* custom lang-switch style end */


/* custom logo style start */
.dark .logo-img {
    display: none;
}

.logo a .dark-logo-img {
    display: none;
}

.dark .logo a .dark-logo-img {
    display: inline;
}
/* custom lang-switch style end */